
/* Page THEMES */

.themes_grid {
    display: flex;
    flex-wrap: wrap;           
    gap: 1.5rem;                 
    justify-content: center;   
    align-items: flex-start;
    padding: 1.5rem;
}


.theme_card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    color: var(--theme-color);
    overflow: hidden;
    border-radius: 2rem;    
    background-color: #fff8ec;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    min-width: 15rem;
    max-width: 20rem;
    min-height: 18rem;
    flex: 1 1 15rem;
    text-align: center;
    margin-bottom: 6rem;
}


.theme_card:hover {
    transform: translateY(-3px);
}

.theme_card img {
    height: 14rem;
    border-radius: 2rem;  
    object-fit: cover;
    object-position: center;
    display: block;
    padding: 1rem;
    margin: 0 auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    }

.theme_card h2 {
    width: 100%;
    margin-top: auto;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box; 
    }

.edit_theme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
    border-radius: 50%;
    padding: 0.2rem 0.4rem;
    text-decoration: none;
    color: var(--accent-color-1);
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    }

.theme_card:hover .edit_theme {
    opacity: 1;
    transform: scale(1.1);
    }



    /* VUE THEMES ET QUESTIONS*/

.themes_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    min-height: calc(100vh - var(--header-height));    
    padding: 0 2rem;
}

.questions_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
    position: relative;
    padding: 0 5rem;
    min-height: calc(100vh - var(--header-height));
}
    

.themes_button, 
.questions_button {
    padding: .5rem 1.5rem;
    margin-bottom: 2rem;
    text-decoration: none;
    background-color: var(--accent-color-2);
    color: var(--font-color-main);
    border-radius: 2rem;
    font-weight: 600;
    text-align: center;
}


.index_buttons:hover,
.index_newgame:hover,
.themes_button:hover,
.questions_button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

/* Questions */

.questions_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.theme_name {
 color: var(--theme-color);
 max-width: 70%;
white-space: nowrap;    
overflow: hidden;       
text-overflow: ellipsis; 
}

body.edit_mode .edit_button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2rem;
  height: 2rem;
  padding: .5rem;
  border-radius: 2rem;
  font-weight: 600;
  text-align: center;
  opacity: 0.6;
  transition: opacity 0.2s ease;
  text-decoration: none;
  color: var(--theme-color);
}

.edit_button {
  display: none;
}


body.edit_mode .edit_button:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: 0.2s;
  background: currentColor;
}


/* Bouton Mode Édition */

.edit_mode_button {
    position: relative;    
    top: -2rem;
    left: 0rem;
    padding: 0.6rem 1.5rem;
    background-color: #feb43365;
    color: var(--font-color-main);
    border-radius: 1rem;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* Hover */
.edit_mode_button:hover {
    background-color: var(--accent-color-1);
    color: var(--font-color-secondary);
    transform: scale(1.05);
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

/* Style différent si le mode édition est actif */
body.edit_mode .edit_mode_button {
    background-color: #c0392b;
    color: var(--font-color-secondary);
}



.question_block {
  align-self: flex-start;
  text-align: left;
  padding: 0 1rem;
  margin-bottom: 6rem;
  max-width: 80%;
}

.theme_title,
.question_title {
    color: var(--theme-color);
    padding: 1rem 2rem 0 1rem;
    margin: 3rem 00;
    font-size: 1.7rem;
    font-weight: 700;
    border-bottom: solid 1px;
}


.timeline {
    border-left: 4px solid var(--theme-color);
    color: var(--theme-color);
    margin-left: 18px;
    padding-left: 18px;
}

.timeline_item {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.2rem;
}

.timeline_item .dot {
    width: 12px;
    height: 12px;
    background: currentColor;
    border-radius: 50%;
    margin-left: -26px;
}

.question-answer-elem {
    display: flex;
    flex-direction: row;         
    justify-content: space-between;
    align-items: center;       
    gap: 1rem;
}

.qa-text {
    display: flex;
    flex-direction: column;
}

.qa-text .question,
.qa-text .answer {
    display: inline-block;     
    max-width: 80vw;           
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;      
}


.question {
    font-weight: 600;
    white-space: nowrap;
}

.answer {
    color: #666;
    margin-left: 5px;
    font-size: 0.95rem;
    white-space: nowrap;
}


/* Sidebar sommaire de "questions" */

.questions_sidebar {
    position: fixed;
    right: 2rem;
    top: 15rem;
    width: 12rem;
    padding: 1rem;
    background: #fff4e1;
    border: 1px solid #ccc;
    border-radius: .75rem;

}

.questions_sidebar h3 {
    margin-bottom: .5rem;
    font-size: 1.2rem;
}

.questions_sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.questions_sidebar li {
    margin: .5rem 0;
    white-space: nowrap;      
    overflow: hidden;         
    text-overflow: ellipsis;  
}

.questions_sidebar a {
    text-decoration: none;
    color: var(--font-color-main);
    font-weight: 500;
    transition: color .2s ease;

}

.questions_sidebar a:hover {
    color: var(--accent-color-1);
}



/* VUE EDITER/AJOUTER UNE QUESTION */
.question_main {
    padding: 0 2rem;
}

.edit_question_form {
    max-width: 40rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

.edit_question_form .form-group {
    display: flex;
    flex-direction: column; 
}

.edit_question_form label {
    font-weight: bold;
    margin-bottom: .3rem;
}

.edit_question_form textarea,
.edit_question_form input,
.edit_question_form select {
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
    resize: vertical; 
    background-color: #fff8ec;
}

.edit_submit_button {
    padding: .5rem 1.5rem;
    text-decoration: none;
    border: none;
    background-color: var(--accent-color-2);
    color: var(--font-color-main);
    border-radius: 2rem;
    font-weight: 600;
    text-align: center;
}

.edit_submit_button:hover,
.edit_submit_cancel:hover,
.edit_delete_question:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.edit_submit_cancel {
    padding: .5rem 1.5rem;
    margin-bottom: 2rem;
    text-decoration: none;
    border: none;
    background-color: #5c6b73;
    color: var(--font-color-secondary);
    border-radius: 2rem;
    font-weight: 600;
    text-align: center;
}

.question_delete_form {
    display: flex;
   padding-bottom: 3rem;

}

.edit_delete_question {
    padding: .5rem 1.5rem;
    margin: auto;
    text-decoration: none;
    border: none;
    background-color: #c43218;
    color: var(--font-color-secondary);
    border-radius: 2rem;
    font-weight: 600;
    text-align: center;
    width: 40rem;
    max-width: 100%;
}



/* VUE : ÉDITER / AJOUTER UN THÈME */

.theme_main {
    padding: 0 2rem;
}

.theme_form {
    max-width: 40rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.theme_form .form-group {
    display: flex;
    flex-direction: column;
}

.theme_form label {
    font-weight: bold;
    margin-bottom: .3rem;
}

.theme_form input[type="text"],
.theme_form input[type="color"],
.theme_form input[type="file"],
.theme_form select {
    width: 40rem;
    max-width: 100%;
    padding: .5rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: .5rem;
    background-color: #fff8ec;
}

.theme_form small {
    margin-top: .3rem;
    font-size: .85rem;
    color: #666;
}

/* IMAGE */
.theme_form img {
    margin: .5rem 0;
    border-radius: .5rem;
    max-width: 200px;
    border: 1px solid #ddd;
}

/* BOUTONS PRINCIPAUX */

.theme_submit_button {
    padding: .5rem 1.5rem;
    border: none;
    background-color: var(--accent-color-2);
    color: var(--font-color-main);
    border-radius: 2rem;
    font-weight: 600;
    text-align: center;
    transition: 0.2s ease;
}

.theme_cancel_button {
    padding: .5rem 1.5rem;
    margin-bottom: 2rem;
    text-decoration: none;
    border: none;
    background-color: #5c6b73;
    color: var(--font-color-secondary);
    border-radius: 2rem;
    font-weight: 600;
    text-align: center;
    transition: 0.2s ease;
}

/* BOUTON SUPPRIMER L'IMAGE */
.theme_delete_img_btn,
.question_delete_img_btn {
    margin-top: .5rem;
    padding: .4rem 1rem;
    border: none;
    background-color: #c0392b;
    color: var(--font-color-secondary);
    border-radius: 1.5rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease;
}

/* HOVER EFFECTS */
.theme_submit_button:hover,
.theme_cancel_button:hover,
.theme_delete_img_btn:hover,
.question_delete_img_btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

