<!DOCTYPE html>
<html lang="fr">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">

<% if (typeof css !== "undefined") { %>
<link rel="stylesheet" href="/css/<%= css %>">
<% } %>

    <title>✨ FBF <%= pagetitle %></title>
    
</head>
<body>

    <nav class="navbar">
    <ul class="nav-list">
        <li class="nav_logo"><a href="/"><img src="/img/FBF-small-logo.png" alt="Fun Between Friends" class="header_small_logo"></a></li>
        <li><a href="/archives">Archives</a></li>
        <% if (admin) { %><li><a href="/questions">Questions</a></li>  <% } %>
         <li><a href="/themes">Thèmes</a></li>


  <% if (!admin) { %>
    <li>
      <a class="navbar_connexion" href="/connexion">Connexion</a>
  <% } else { %>
      <a class="navbar_connexion" href="/deconnexion">Déconnexion</a>
      </li>
  <% } %>

    </ul>
</nav>
