<%- include("partials/header.ejs") %>


<main class="archives_main">
  <h1 class="archives_title">Archives</h1>

    <% if (admin) { %>
  <a href="/archives" class="themes_button">Accéder aux archives des thèmes & questions</a>
   <% } %>

 
  </div>
</main>

<%- include("partials/footer.ejs") %>

