<%- include("partials/header.ejs") %>
<main class="index_main">
    
<img src="/img/FBF-big-logo.png" alt="Fun Between Friends" class="index_big_logo">

<a href="/nouvelle-partie" class="index_newgame">Nouvelle partie ✨</a>

<div class="index_buttons_block">

   <% if (admin) { %>
<a href="/themes/nouveau-theme" class="index_buttons">Créer un thème!</a>
<a href="/questions/nouvelle-question" class="index_buttons">Ajouter une question</a>
  <% } %>

</div>


</main>
<%- include("partials/footer.ejs") %>